<div class="main-container">
  <div class="selector-container">
    <ng-select [clearable]="false" [placeholder]="'Select type of news..'" (change)="getTypeNews($event)">
      <ng-option *ngFor="let lang of languages" [value]="lang">
        <img class="icon" [src]="lang.image" alt="icon" width="24px"> {{ lang.name }}
      </ng-option>
    </ng-select>
  </div>
  <div class="icon-container" *ngIf="loading"><i class="fas fa-spinner fa-spin fa-7x"></i></div>
  <div class="news-container" *ngIf="!loading">
    <div class="new" *ngFor="let new of news | filter: 20">
      <small class="date"><i class="far fa-clock clock"></i> {{ new.created_at | date: 'h' }} hours ago by {{ new.author }}</small>
      <span class="body-text">{{ new.story_title ? new.story_title : 'No title' }}</span>
      <div class="box"> <i class="fas fa-heart heart" (click)="onGiveALikeNew(new)"></i></div>
    </div>
  </div>
</div>
